= define_grid(@questions, show_filters: :always) do |g|
  - g.column name: 'Type', attribute: 'question_type', detach_with_id: :type_filter, custom_filter: :auto, allow_multiple_selection: true
  - g.column name: 'Title', attribute: 'title', detach_with_id: :title_filter do |uc|
    - uc.title
  - g.column name: 'Retired', attribute: 'retired', detach_with_id: :retired_filter do |uc|
    - uc.retired ? 'Yes' : 'No'
  - g.column name: 'Updated at', attribute: 'updated_at', detach_with_id: :updated_at_filter do |uc|
    - uc.updated_at.to_s(:long)
