%td
  = result.searchable.class.name
%td
  = link_to "#{url_for(result.searchable)}", url_for(result.searchable)
%td
  %ul.inline.search
    - if search_t([result.searchable.name], @query) 
      %li
        %dt
          Name
        %dd
          = highlight_excerpt result.searchable.name, @query
