= define_grid(@users_grid, show_filters: :always) do |g|
  - g.action_column

  - g.column name: 'Email', attribute: 'email', filter: false, html: { class: 'email' }

  - g.column name: '% completion', html: { class: 'completion' }  do |user|
    - @course.user_completion(user)

  - g.column name: 'Current Module' do |user|
    - @course.current_learning_module(user).try :title

  - g.column name: 'Last reminder sent' do |user|
    - reminder = @org_course.reminders.by_user(user).first
    - reminder.try :sent_at

  - g.column name: 'Sent count' do |user|
    - reminder = @org_course.reminders.by_user(user).first
    - reminder.try :sent_count
