= define_grid(@aging_grid, show_filters: :always) do |g|

  - g.column name: 'Email', attribute: 'email' do |r|
    - if r.registered == 'Yes'
      - link_to r.email, org_user_path(r.org_id, r.id)
    - r.email

  - g.column name: 'Registered?', attribute: 'registered', custom_filter: :auto
  - g.column name: 'First name', attribute: 'first_name'
  - g.column name: 'Last name', attribute: 'last_name'
  - g.column name: '% completion', attribute: 'percent_completed' do |r|
    - r.percent_completed.to_int.round(0)

  - g.column name: 'Notes', attribute: 'status', custom_filter: :auto

  - g.column name: 'Days Since Last Activity', filter_type: :range ,attribute: 'days_since_last_activity'