= define_grid(@users_grid, show_filters: :always, hide_submit_button: true, hide_reset_button: true) do |g|
  - g.column name: 'First name', attribute: 'first_name', detach_with_id: :first_name_filter do |user|
    - link_to user.first_name || '_', org_user_path(@org, user)

  - g.column name: 'Last name', attribute: 'last_name', detach_with_id: :last_name_filter do |user|
    - link_to user.last_name || '_', org_user_path(@org, user)

  - g.column name: 'Email', attribute: 'email', detach_with_id: :email_filter, html: { class: 'email' } do |user|
    - link_to user.email, org_user_path(@org, user)

  - if can?(:student_journal, @org)
    - g.column name: 'Journal' do |user|
      - link_to student_journal_path(user), 'title' => 'Journal', 'target' => '_blank' do
        %span.glyphicon.glyphicon-book

  - g.column name: 'Cert' do |user|
    - link_to student_certificate_path(user), 'title' => 'Certificate', 'target' => '_blank' do
      %span.glyphicon.glyphicon-certificate

  - g.column name: 'Date signed up', attribute: 'created_at', filter: false, html: { class: 'date' } do |user|
    - as_date user.created_at
  - g.column name: 'Last login', attribute: 'current_sign_in_at', filter: false, html: { class: 'date' } do |user|
    - as_date user.current_sign_in_at

  - g.column name: '% completion', html: { class: 'completion' }  do |user|
    - @course.user_completion(user)

  - g.column name: 'Lesson score achieved', html: { class: 'score' } do |user|
    - user.quiz_results.where(quiz_id: @course.course_quizzes).inject(0.0) do |score, res|
      - score += res.score if res.score
      - score

  - g.column name: 'Course started', html: { class: 'date' }  do |user|
    - as_date user.user_events.by_course(@course).by_event_type('course_begin').first.try(:event_time)

  - g.column name: 'Last activity', html: { class: 'activity' } do |user|
    - page = @course.get_page(@course.current_page(user)).try :page
    - page.try :name

  - g.column name: 'Next activity', html: { class: 'activity' } do |user|
    - next_page = @course.get_page(@course.current_page(user) + 1).try :page
    - next_page.try :name
