-#%p#notice= notice

.form-actions
  = link_to 'Back', text_blocks_path, :class => "btn btn-primary"
  = link_to 'Edit', edit_text_block_path(@text_block), :class => "btn btn-info"

%br

%p
  %b Private title:
  = @text_block.private_title
%p
  %b Rendered:
  = raw @text_block.raw_content


