- content_for :head do
  = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js'
  -#= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ext-textarea.js'
  = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/mode-html.js'
  -#= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/mode-html_completions.js'
  -#= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/worker-html.js'
