%h3 Sorting lesson pages
.alert
  %button.close{"data-dismiss" => "alert", :type => "button"} &times;
  %strong Note:
  Any sorting here will affect all learning paths that use this lesson.  You can always create a new lesson to retain this one and its original sort order
  %br
    %strong Refresh to double check all changes are saved on the server
.form-actions
  %a.btn.btn-success.btn-large{:href => lesson_url} Done - show lesson
#content_pages_sortable{"data-update-url" => sort_update_lesson_path}
  %b
    Content Pages (#{@lesson.content_pages.count}):
  - @lesson.content_pages.order("position").each do |cp|
    = content_tag_for :div, cp, :class => "well handle" do
      %b
        ID(#{cp.id})
      \- #{cp.name}
