= define_grid(@invitations_grid, show_filters: :always) do |g|
  - g.action_column

  - g.column name: 'Email', attribute: 'invitation_email'
  - g.column name: 'Status', attribute: 'invitation_state', custom_filter: Invitation.invitation_state_list, allow_multiple_selection: false
  - g.column name: 'Created (EST)', attribute: 'created_at', model: Invitation do |inv|
    - inv.created_at
  - g.column name: 'Sent (EST)', attribute: 'sent_at'  , model: Invitation do |inv|
    - inv.sent_at
  - g.column name: 'Sent count', attribute: 'sent_count'
