= define_grid(@users_grid, show_filters: :always) do |g|
  - g.column name: 'First name', attribute: 'first_name'
  - g.column name: 'Last name', attribute: 'last_name'
  - g.column name: 'Email', attribute: 'email', html: { class: 'email' }

  - if @course
    - g.column name: 'Enrollment date' do |user|
      - as_date user.user_events.by_course(@course).by_event_type('course_begin').first.try(:event_time)

  - g.column name: 'Last login date', attribute: 'current_sign_in_at' do |user|
    - as_date user.current_sign_in_at

  - unless @course
    - g.column name: 'Enrolled courses' do |user|
      - user.courses.map {|course| course.title }.join('<br>').html_safe

  - if @course
    - g.column name: '% complete' do |user|
      - @course.user_completion(user)

    -#- g.column name: 'Roles' do |user|
      - user.role_symbols.join(', ')

  - g.column name: '', in_csv: false do |user|
    - if can? :show, user
      - link_to 'Show', org_user_path(@org, user)

  - g.column name: '', in_csv: false do |user|
    - if can? :update, user
      - link_to 'Edit', edit_org_user_path(@org, user)

  - g.column name: '', in_csv: false do |user|
    - if can? :destroy, user
      - link_to 'Delete', org_user_path(@org, user), method: :delete, data: { confirm: "Are you sure to delete user #{user.email}?" }
