%table.row
  %tr
    %td
      %table.twelve.columns
        %tr
          %td.text-pad

            %h2 Password Reset

            %div We received a request to change your password. You can do this through the link below.
            %div= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token)
            %div If you didn't request this, please ignore this email.
            %div Your password won't change until you access the link above and create a new one.
